.about_wrapper {
  gap: 50px;
}
.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
  color: var(--text-color);
}

.about .about_image {
  width: 35%;
  border-radius: 12px;
  transition: 0.6s;
  background-color: var(--card-bg);
}
.about .about_image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  flex-direction: column;
  align-items: flex-start;
}
.about .about_image:hover {
  box-shadow: 8px 8px 8px var(--box-shadow);
}
.tech_container {
  display: flex;
}
.about .about_content {
  width: 65%;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background-color: var(--card-bg);
  transition: 0.6s;
  font-size: larger;
}
.about .about_content div {
  padding-left: 20px;
}
.about .about_content:hover {
  box-shadow: 5px 5px 5px var(--box-shadow);
}
.about .about_content h2 {
  font-size: 25px;
  margin-left: 0 !important;
  padding: 0px !important;
}
.about .about_content p {
  padding: 0;
}

.about_section {
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: var(--text-color);
  padding-top: 16px;
  padding-left: 20px;
}
.about_section p {
  margin: 0 !important;
  padding: 0 !important;
}
.about_section span {
  color: var(--primary-color);
}
.about_section ul {
  padding-left: 20px;
  color: var(--primary-color);
}
.about_section ul strong {
  color: gray;
}
.details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.details .detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 0.6s;
  color: var(--text-color);
}

.about_button {
  background-color: var(--primary-color);
  color: #ffffff;
  margin-top: 20px;
  border: 0.5px solid var(--primary-color);
}

.experience_counters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.experience_counter {
  margin: 30px;
  background-color: var(--card-bg);
  border-radius: 12px;
  transition: 0.6s;
  padding: 18px;
  /* experimental */
}
.experience_counter:hover {
  box-shadow: 5px 5px 5px var(--box-shadow);
}
.experience_counter h2 {
  text-align: center;
  font-weight: 600;
  font-size: large;
  padding-left: 0 !important;
  color: var(--text-color);
}
.experience_counter h2 span {
  color: var(--primary-color);
  font-size: 38px;
  display: block;
  text-align: center;
}

.qualifications {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
}
.qualifications h2 {
  margin: 0 !important;
  padding: 0 !important;
}

.experience_wrapper,
.educations_wrapper {
  width: 50%;
  padding: 30px;
  border-radius: 12px;
  background-color: var(--card-bg);
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--text-color);
}

.experience_wrapper:hover,
.educations_wrapper:hover {
  box-shadow: 8px 8px 8px var(--box-shadow);
}

.experience,
.qualification {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 14px 0;
  border-bottom: 0.2px solid var(--card-border);
}
.stack_list li{
  padding: 0px !important;
  list-style: none;
}
.experience:last-of-type,
.qualification:last-of-type {
  border: none;
}
.experience p,
.qualification p {
  padding-left: 0 !important;
}

@media screen and (max-width: 1200px) {
  /* .about .about_image {
    width: 40%;
  } */
  .about .about_content {
    width: 100%;
  }
  .experience_counters {
    grid-template-columns: repeat(2, 1fr);
  }
  .about_content {
    /* flex-direction: column;
    gap: 10px; */
    width: 100%;
  }
  /* .details .detail {
  width: 100%}; */
  .about {
    flex-direction: column;
  }
  .about .about_image {
    width: 100%;
  }
}
.github_status {
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
}
@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
  }
  .about .about_image,
  .about .about_content {
    width: 100%;
  }
  .experience_counters {
    grid-template-columns: repeat(2, 1fr);
  }
  .qualifications {
    flex-direction: column;
  }
  .experience_wrapper,
  .educations_wrapper {
    width: 100%;
  }
}

/* @media screen and (max-width: 1200px) {

} */

@media screen and (max-width: 786px) {
  .experience_counters {
    grid-template-columns: repeat(1, 1fr);
  }
  .about_content h2{
    font-size: large !important;
  }
  .about_content ul li{
    font-size: medium !important;
    padding-left: 0 !important;
  }
  .tech_container {
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */
  }
  .experience_counter {
    margin: 10px;
    padding: auto;
  }
  .experience_counter h2 span {
    font-size: 25px;
  }
  .details {
    flex-direction: column;
    gap: 10px;
  }
  .stack_overview {
    display: none;
  }
}
